@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  
  html {
    scroll-behavior: initial;
  }

  body {
    @apply antialiased overflow-x-hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.cursor-dot {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #9E7FFF;
  border-radius: 50%;
  z-index: 9999;
}

.cursor-outline {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(158, 127, 255, 0.5);
  border-radius: 50%;
  z-index: 9998;
  transition: transform 0.15s ease-out;
}
